.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading {
  display: flex;
  align-items: center;
  margin: 5px;
}

.card-title {
  font-size: 28px;
  font-weight: 600;
  padding-left: 20px;
}

.card-labels {
  font-size: 22px;
  justify-self: left;
  align-self: center;
  font-weight: 500;
}

.card-text {
  font-size: 22px;
}

.pet-font {
  color: #488047;
}

.contact-font {
  color: #65379C;
}

.fam-font {
  color: #23309E;
}

@media (max-width: 480px) {
  .header-container {
    display: flex;
    flex-direction: column; 
  }

  .heading {
    display: flex;
    flex-direction: column;    
  }

}